


.line {
	transform-origin: 0% 50%;
	padding-bottom: 0.35rem;
	white-space: nowrap;
	will-change: transform;
}

.oh {
	overflow: hidden;
}

.oh__inner {
	display: inline-block;
	transform-origin: 0% 50%;
	will-change: transform;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: calc(100vh - 13rem);
	position: relative;
	justify-content: flex-start;
	align-items: center;
}

.heading {
	grid-area: heading;
	font-size: var(--font-size-large);
	margin: 0 0 2rem 0;
	font-weight: normal;
	align-self: start;
	line-height: 1.4;
}

.heading strong {
	font-weight: 600;
}

.content-primary {
	grid-area: content;
	line-height: 1;
	font-size: var(--font-size-large);
}

.content-secondary {
	grid-area: footer;
	line-height: 1;
	margin: 0;
	align-self: end;
	font-size: var(--font-size-small);
	max-width: 400px;
}

.deco {
	grid-area: deco;
}

